/*Overiding the Bootstrap CSS to better match the original portfolio styling*/

/*General Global Styles*/
	body {
		background: url('../images/ricepaper2.png');
	}
	
	#marginFix {
		margin-bottom: 80px;
	}
/*Nav Bar Styles*/
.navbar {
	border-radius: 0px;
	box-shadow: none;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

	/*Logo Styles*/
		#logo {
			background-color: #009F93;
			color: #ffffff;
			height: 90px;
			font-family: 'Lobster', cursive;
			font-size: 200%;
			text-decoration: none;
			letter-spacing: 1px;
			line-height: 90px;
			padding: 0 40px;
			margin-left: 0px;
		}

		#logo:hover {
			background-color: #FAA634;
		}
	
	/* Navigation Links Styles*/
		.navbar-nav {
			margin: 25px 0;
		}

		.navbar-collapse {
			padding: 0px;
		}

		.navbar-nav > li > a {
			color: #999999;
			margin: auto;
			padding: 10px 15px;
		}

		#navLinks a {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 112.5%;
			border-left: 1px solid #efefef;
		}

		#navLinks a:hover {
			color: #009F93;
		}

/* Sections Styles */
.panel {
	padding: 20px;
	border: 1px solid #dddddd;
	border-radius: 0px;
	box-shadow: none;
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: #ffffff;
	font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
    font-weight: 700;
	color: #685040;
	text-transform: uppercase;
	margin-bottom: 20px;
}

/* About Me Page Only */

#profilePhoto {
	width: 100%;
	height: auto;
	float: left;
	display: inline;
	margin-right: 25px;
	margin-bottom: 25px;
	border: 5px solid #FAA634;
	animation-name: borderChange;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

	/* Adding a Cool CSS3 Animation for Bonus Points*/
		@keyframes borderChange {
			from {border-color: #FAA634;}
			to {border-color: #009F93;}
		}

#profilePhoto:hover {
	opacity: 0.5;
}

/* Text Styling */
p {
	font-size: 112.5%;
	line-height: 212.5%;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

/*Portfolio Page*/
.caption h3 {
    background: #009F93;
    color: #fff;
    text-align: center;
    font-size: 112.5%;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    bottom: 90px;
    padding: 10px 0;
    margin-bottom: -36px;
}

#projImg:hover {
	opacity: 0.5;
}

/* Contact Page Styles*/
#submitBtn {
	text-shadow: none;
	background-image: none;
	box-shadow: none;
	color: #ffffff;
	background-color: #009F93;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	padding: 10px 40px;
}

#submitBtn:hover {
	background-color: #FAA634;
}

/* The Connect With Me Sidebar Styling */
	/* Hovers for social icons*/

	#git, #linked, #stack {
		max-width: 62px;
		max-height: 62px;
		margin: 0px;
		padding: 0px;
		background-color: #FAA634;
	}

	#git:hover {
		background-color: #009F93;
	}

	#linked:hover {
		background-color: #009F93;
	}

	#stack:hover {
		background-color: #009F93;
	}

/* Footer Styling - Using Gradients suggested by Frank for Bonus Points!*/
footer {
	background: #dddddd;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #BCBEC0, #F1F2F2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #BCBEC0, #F1F2F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 5px 0;
	clear: both;
	border-top: 5px solid #685040;
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    overflow: auto;
}	

#fooText {
	color: #685040;
	padding-top: 6px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
}


/* Begin Responsive Code - Adding Media Quesry for About Me Image Only*/

/* Small Screens sm */
	@media (min-width: 768px) {
		#profilePhoto {
		width: 100%;
		height: auto;
	}

/* Medium Screens md */
	@media (min-width: 992px) {
		#profilePhoto {
		width: 200px;
		height: auto;
	}

/* Large Screens lg */
	@media (min-width: 768px) {
		#profilePhoto {
		width: 200px;
		height: auto;
	}