body {
	background: url('../images/ricepaper2.png');
	color: #777777;
}

/* Styles for the Headings */

h1, h2, h3 {
	color: #685040;
	text-transform: uppercase;
}

/* Main Sections in each page*/

#main-container {
	padding-top: 70px;
}

.main-section {
	background: #fff;
	padding:30px;
	margin: 0 0 40px 0;
}

.auth-image {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
	border: 2px solid #FAA634;
}

.auth-image:hover {
	opacity: 0.5;
}

/* Sidebars in each page*/

.sidebar {
	background:	#fff;
	padding: 30px;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

h3, .sidebar, h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}

.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;
}

.social:last-child {
	margin-right: 0;
}

/* Hovers for social icons*/

#git, #linked, #stack {
	background-color: #FAA634;
}
#git:hover {
	background-color: #009F93;
}

#linked:hover {
	background-color: #009F93;
}

#stack:hover {
	background-color: #009F93;
}